<div id="game-module">
<!-- 	<h1>Color Match</h1> -->

	<div id="colorBox">
		<div id="randomColorBox" style="background-color:rgb({{randomRedValue}}, {{randomGreenValue}}, {{randomBlueValue}})"></div>
		<div id="userColorBox" style="background-color:rgb({{userRedValue}}, {{userGreenValue}}, {{userBlueValue}})" ></div>
	</div>

	<div id="resultsBox" ng-show="showResults">
		<h2 class="title">Results</h2>
		<div>Your guesses were this close:</div>
		<div>
			Red: {{redDiff}}<br>
			Green: {{greenDiff}}<br>
			Blue: {{blueDiff}}<br>
		</div>
	</div>

	<div id="buttonsBox">
		<div class="button" id="startButton" ng-click="startGame()">Start</div>		
		<div class="button" id="submitButton" ng-click="submitGuess()">Submit</div>		
	</div>

	<div id="inputBox">
		<div id="redSliderBox" ng-class="disabledState">
<!-- 			<input type="range" name="redSlider" value="125" min="0" max="255" step="1" ng-bind="userRedValue"> -->
			<!-- <slider floor="0" ceiling="255"></slider> -->
			<slider class="color-match-slider" floor="0" ceiling="255" step="1" precision="0" ng-model="userRedValue"></slider>
		</div>
		<p class="slider-info">The Red Value is {{userRedValue}}</p>
		<div id="greenSliderBox" ng-class="disabledState">
			<slider class="color-match-slider" floor="0" ceiling="255" step="1" precision="0" ng-model="userGreenValue"></slider>
		</div>
		<p class="slider-info">The Green Value is {{userGreenValue}}</p>
		<div id="blueSliderBox" ng-class="disabledState">
			<slider class="color-match-slider" floor="0" ceiling="255" step="1" precision="0" ng-model="userBlueValue"></slider>
		</div>
		<p class="slider-info">The Blue Value is {{userBlueValue}}</p>
		<div id="hexInputBox"></div>

    </li>
	</div>
</div>